<div class="card">
  <p class="card__img">{%IMAGE%}{%IMAGE%}</p>

  <div class="card__name card__info">
    <h2 class="card__info--detail">{%PRODUCTNAME%}</h2>
  </div>

  <div class="card__info {%NOT_ORGANIC%}">
    <span class="card__organic card__info--detail">organic!</span>
  </div>

  <div class="card__info">
    <span class="card__info--detail">{%QUANTITY%} per 📦</span>
  </div>

  <div class="card__info">
    <span class="card__price card__info--detail">{%PRICE%} $</span>
  </div>

  <div class="card__info card__link--box">
    <a class="card__link card__info--detail" href="/product?id={%ID%}">Detail <span class="card__icon card__info--detail">👉</span></a>
  </div>
</div>
